.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.counter {
  margin: 20px;
  width: fit-content;
  padding: 2%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
}

.counter > div {
  display: flex;
}

.counter > div button {
  margin: 20px;
}
